{% extends "contacts/base.html" %}
{% load contacts_extras %}
{% block content %}

    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h4>Addresses ({{ page_obj.paginator.count }})</h4>
                <div type="hidden" id="order-manager" data-orderby="{{ orderby }}" data-order="{{ order }}"></div>

                <div class="table-responsive">

                    <table id="mytable" class="table table-bordred table-striped">

                        <thead>
                            <th>Id</th>
                            <th>City
                                <a data-orderby="city" data-order="asc" href="?page={{ page_obj.number }}" class="fas fa-sort-alpha-down ml-2 order"></a>
                                <a data-orderby="city" data-order="desc" href="?page={{ page_obj.number }}" class="fas fa-sort-alpha-up order"></a>
                            </th>
                            <th>Street
                                <a data-orderby="street" data-order="asc" href="?page={{ page_obj.number }}" class="fas fa-sort-alpha-down ml-2 order"></a>
                                <a data-orderby="street" data-order="desc" href="?page={{ page_obj.number }}" class="fas fa-sort-alpha-up order"></a>
                            </th>
                            <th>Building Number
                                <a data-orderby="building_number" data-order="asc" href="?page={{ page_obj.number }}" class="fas fa-sort-numeric-down ml-2 order"></a>
                                <a data-orderby="building_number" data-order="desc" href="?page={{ page_obj.number }}" class="fas fa-sort-numeric-up order"></a>
                            </th>
                            <th>Flat Number
                                <a data-orderby="flat_number" data-order="asc" href="?page={{ page_obj.number }}" class="fas fa-sort-numeric-down ml-2 order"></a>
                                <a data-orderby="flat_number" data-order="desc" href="?page={{ page_obj.number }}" class="fas fa-sort-numeric-up order"></a>
                            </th>
                            <th>Inhabitants
                                <a data-orderby="inhabitants" data-order="asc" href="?page={{ page_obj.number }}" class="fas fa-sort-numeric-down ml-2 order"></a>
                                <a data-orderby="inhabitants" data-order="desc" href="?page={{ page_obj.number }}" class="fas fa-sort-numeric-up order"></a>
                            </th>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th>Details</th>
                        </thead>

                        <tbody>
                            {% for address in addresses %}
                                <tr>
                                    <td>{{ address.pk }} </td>
                                    <td>{{ address.city }} </td>
                                    <td>{{ address.street }}</td>
                                    <td>{{ address.building_number }}</td>
                                    <td>{{ address.flat_number }}</td>
                                    <td>{{ address.inhabitants }}</td>
                                    <td>
                                        <a href="{%  url 'address-update' address.id %}" class="btn btn-primary btn-xs" data-toggle="tooltip" title="Edit"><span class="fas fa-user-edit fa-xs"></span></a>
                                    </td>
                                    <td>
                                        <a href="{% url 'address-delete' address.id %}" class="btn btn-danger btn-xs" data-toggle="tooltip" title="Delete"><span class="fas fa-trash-alt fa-xs"></span></a>
                                    </td>
                                    <td>
                                        <a href="{% url 'address-detail' address.id %}" class="btn btn-info btn-xs" data-toggle="tooltip" title="Info"><span class="fas fa-info xs"></span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="clearfix"></div>

                    <!-- PAGINATOR START-->
                    {% include 'contacts/paginator.html' %}
                    <!-- PAGINATOR END -->

                    </div>
                        <a class="btn btn-info mb-4" href="{% url 'person-new' %}">New Address</a>
                    <div>

                </div>

            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
    </div>  <!-- end containter -->


{% endblock content %}