{% extends "contacts/base.html" %}
{% load contacts_extras %}
{% block content %}

    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="container d-flex justify-content-between">
                    <h4 class="d-inline-block mt-2">Groups ({{ page_obj.paginator.count }})</h4>
                    <form class="form-inline align-self-start" method="GET">
                      <input class="form-control" name="search" type="text" placeholder="Search" aria-label="Search">
                      <button class="btn btn-info mx-2" type="submit" href="">Search</button>
                    </form>
                </div>

                <div type="hidden" id="order-manager" data-orderby="{{ orderby }}" data-order="{{ order }}" data-search="{{ search }}"></div>

                <div class="table-responsive">

                    <table id="mytable" class="table table-bordred table-striped">

                        <thead>
                            <th>Id</th>
                            <th>Name
                                <a data-orderby="name" data-order="asc" href="?page={{ page_obj.number }}" class="fas fa-sort-alpha-down ml-2 order"></a>
                                <a data-orderby="name" data-order="desc" href="?page={{ page_obj.number }}" class="fas fa-sort-alpha-up order"></a>
                            </th>
                            <th>Descripton
                                <a data-orderby="description" data-order="asc" href="?page={{ page_obj.number }}" class="fas fa-sort-alpha-down ml-2 order"></a>
                                <a data-orderby="description" data-order="desc" href="?page={{ page_obj.number }}" class="fas fa-sort-alpha-up order"></a>
                            </th>
                            <th>Members
                                <a data-orderby="members" data-order="asc" href="?page={{ page_obj.number }}" class="fas fa-sort-numeric-down ml-2 order"></a>
                                <a data-orderby="members" data-order="desc" href="?page={{ page_obj.number }}" class="fas fa-sort-numeric-up order"></a>
                            </th>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th>Details</th>
                        </thead>

                        <tbody>
                            {% for group in groups %}
                                <tr>
                                    <td>{{ group.pk }} </td>
                                    <td>{{ group.name }} </td>
                                    <td>{{ group.description }}</td>
                                    <td>{{ group.members }}</td>
                                    <td>
                                        <a href="{%  url 'group-update' group.id %}" class="btn btn-primary btn-xs" data-toggle="tooltip" title="Edit"><span class="fas fa-user-edit fa-xs"></span></a>
                                    </td>
                                    <td>
                                        <a href="{% url 'group-delete' group.id %}" class="btn btn-danger btn-xs" data-toggle="tooltip" title="Delete"><span class="fas fa-trash-alt fa-xs"></span></a>
                                    </td>
                                    <td>
                                        <a href="{% url 'group-detail' group.id %}" class="btn btn-info btn-xs" data-toggle="tooltip" title="Info"><span class="fas fa-info xs"></span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="clearfix"></div>

                    <!-- PAGINATOR START-->
                    {% include 'contacts/paginator.html' %}
                    <!-- PAGINATOR END -->

                    </div>
                        <a class="btn btn-info mb-4" href="{% url 'group-new' %}">New Group</a>
                    <div>

                </div>

            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
    </div>  <!-- end containter -->


{% endblock content %}